[Unit]
Description=The VSCode server
After=network.target

[Service]
ExecStart=/usr/local/bin/code-server serve-local -p 6262 --without-connection-token
KillMode=control-group
Restart=on-failure

[Install]
WantedBy=multi-user.target
