[Unit]
Description=The VSCode server
After=network.target

[Service]
ExecStart=/server/run-code-server.sh
KillMode=control-group
Restart=on-failure

[Install]
WantedBy=multi-user.target
